.cuadro {
    height: 200px;
    opacity: 0.5;
    transition: opacity 500ms;
}

#cuadroA {
    background-color: red;
}

#cuadroB {
    background-color: green;
}

#cuadroC {
    background-color: yellow;
}

#cuadroD {
    background-color: blue;
}
